pyrofork==2.3.45
tgcrypto
pymongo[srv]==4.6.1
motor==3.3.2
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
shortzy
pytz
aiohttp==3.9.5
Flask==2.2.2
gunicorn==20.1.0
countryinfo
aiofiles==22.1.0
telegraph==2.2.0
Pillow==9.4.0
cloudscraper
httpx
